<main id="base-form" class="base-form footer">
  <section id="contactanos-page">
    <div class="info-footer">
      <img
        class="logo"
        data-src="assets/icons/logo_footer.png"
        width="233px"
        height="auto"
      />
      <p class="info-footer-p">Mereces Diseñar Una Vida Inigualable</p>
      <ul>
        <li>
          <a
            href="https://www.instagram.com/rubaresidencialmonterrey/"
            target="_blank"
          >
            <img data-src="assets/icons/ins.svg" alt="instagram" width="24px" />
            {{ "@VarenaResidencial" }}
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/varennaresidencialmty/"
            target="_blank"
          >
            <img data-src="assets/icons/fbk.svg" alt="facebook" width="24px" />
            {{ "@VarenaResidencial" }}
          </a>
        </li>
        <li>
          <a href="https://maps.app.goo.gl/inUX8z6UofHzxwwo7" target="_blank">
            <img
              data-src="assets/icons/map-icon-w.svg"
              alt="map"
              width="24px"
            />
            Varenna Residencial, la Reserva, Cumbres.
          </a>
        </li>
      </ul>
      <div class="flex flex:nowrap gap:4 logos items:center justify:center-m justify:left-l">
        <img data-src="assets/icons/ruba.png" width="auto" height="40px" />
        <img data-src="assets/icons/44.png" width="auto" height="60px" />
      </div>
      <span>
        <a href="https://ruba.mx/aviso-de-privacidad" target="_blank"
          >Aviso de privacidad</a
        >
        <a href="https://ruba.mx/terminos-y-condiciones" target="_blank"
          >Términos y condiciones</a
        >
        <a href="https://ruba.mx/contratos-de-adhesion" target="_blank"
          >Contratos de adhesión</a
        >
      </span>
    </div>
  </section>
  <a
    class="t:center size:small db:mark color:white"
    href="https://digitalbooting.com"
    target="_blank"
    >Sitio web diseñado y desarrollado por Digital Booting | Agencia Creativa de
    Marketing Digital</a
  >
</main>
