<main>
  <app-header></app-header>
  <app-more-information></app-more-information>
  <app-brochure></app-brochure>
  <app-models></app-models>
  <app-banner></app-banner>
  <app-gallery></app-gallery>
  <app-location></app-location>
  <app-footer></app-footer>
</main>

<!-- core no touch code -->
<app-popup></app-popup>
<app-whatsapp-form></app-whatsapp-form>
<app-promo-modal></app-promo-modal>
<app-modal-gallery></app-modal-gallery>
<app-form></app-form>
<app-folleto-modal></app-folleto-modal>
