<header class="header base-form">
  <div class="header__container">
    <app-navbar></app-navbar>

    <div class="header__wrapper">
      <div class="header__content">
        <img
          class="loaded header__logo"
          data-src="assets/icons/logo_varenna.png"
          alt="Logo de Varenna"
        />

        <h1 class="header__title">
          ESPACIOS PENSADOS EN TU FAMILIA<br />
          PARA QUE VIVAN EN ARMONIA.
        </h1>

        <button class="button-three open-form all">CONOCE VARENNA</button>
      </div>

      <div class="flex justify:center-m justify:left-l p:1">
        <div class="header__social">
          <a
            href="https://www.instagram.com/rubaresidencialmonterrey/"
            target="_blank"
            aria-label="Instagram"
          >
            <img
              data-src="assets/icons/instagram.svg"
              width="30px"
              alt="Ícono de Instagram"
            />
          </a>
          <a
            href="https://www.facebook.com/varennaresidencialmty/"
            target="_blank"
            aria-label="Facebook"
          >
            <img
              data-src="assets/icons/facebook.svg"
              width="30px"
              alt="Ícono de Facebook"
            />
          </a>
          <a
            href="https://www.tiktok.com/@rubamonterrey"
            target="_blank"
            aria-label="Tiktok"
          >
            <img
              data-src="assets/icons/tiktok.svg"
              width="25px"
              alt="Ícono de Facebook"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
