<section class="location" id="ubicacion">
  <div class="location__content">
    <img data-src="assets/icons/logo_location.png" width="80px" alt="clover" />

    <h2 class="location__title">UBICACION</h2>

    <div class="location__map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3593.2034911017467!2d-100.45282408797416!3d25.763841377256153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86629b000db65df1%3A0x86611e02daebbd2b!2sVarenna%20Residencial!5e0!3m2!1ses-419!2smx!4v1731030475728!5m2!1ses-419!2smx"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="frame"
      ></iframe>
    </div>
  </div>
</section>
