<section class="brochure"  id="departamento">


    <div class="brochure__content">
      <div class="brochure__wrapper">

        <h2 class="brochure__title">
          DISFRUTA DE SUS <span>AMENIDADES</span></h2>





        <div class="brochure__images-row">

          <div class="brochure__image-item">
            <div class="brochure__image-style">

            <img data-src="assets/icons/image83.png" alt="Descripción imagen 2" class="brochure__image">
            </div>
            <p class="brochure__image-text">Acceso<span> controlado</span> </p>
          </div>

          <div class="brochure__image-item">
            <div class="brochure__image-style">


            <img data-src="assets/icons/image84.png" alt="Descripción imagen 2" class="brochure__image">
          </div>

            <p class="brochure__image-text">Área de <span>alberca</span>  </p>
          </div>

          <div class="brochure__image-item">
            <div class="brochure__image-style">

            <img data-src="assets/icons/football-catch.png" alt="Descripción imagen 2" class="brochure__image">
            </div>
            <p class="brochure__image-text">Cancha <span>deportiva</span> </p>
          </div>

          <div class="brochure__image-item">
            <div class="brochure__image-style">

            <img data-src="assets/icons/park.png" alt="Descripción imagen 2" class="brochure__image">
          </div>

            <p class="brochure__image-text">Áreas <span>verdes</span> </p>
          </div>

          <div class="brochure__image-item">
            <div class="brochure__image-style">

            <img data-src="assets/icons/football-field.png" alt="Descripción imagen 2" class="brochure__image">
          </div>

            <p class="brochure__image-text">Casa <span>Club</span> </p>
          </div>



        </div>
      </div>


    </div>








</section>
