.brochure {
  background-color: var(--primaryColor);

  &__content {
    padding: 120px 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 819px;
    margin: auto;
    gap: 40px;
  }

  &__title {
    font-family: var(--font-family-munale);
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    color: var(--lightColor);

    @media screen and (min-width: 768px) {
      font-size: 32px;
    }
  }

  &__title span {
    color: var(--colorSpan);
  }

  &__paragraph {
    color: var(--lightColor);
    line-height: 28px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
  }

  &__images-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    margin-top: 30px;
    flex-wrap: wrap; 
    width: 100%;
    grid-template-columns: repeat(2, 1fr); 
  }

  &__image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    min-width: 80px;
    text-align: center;
  } &__image-style {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 20px;
  }

  &__image {
    width: 60px;
  min-width: 60px;
  }

  &__image-text {
    margin-top: 10px;
    font-size: 16px;
    color: var(--lightColor);
    white-space: nowrap;
  }
  &__image-text span {
    margin-top: 10px;
    font-size: 16px;
    color: var(--colorSpan);
  }
}
