<section class="more">
  <div class="more__content container">
    <div class="more__text">
      <div class="more__wrapper">
        <img
          data-src="assets/icons/logo_green.png"
          width="100px"
          alt="mas informacion logo"
        />

        <p class="more__paragraph" style="color: rgb(0, 0, 0)">
          Bievenvenido a Varenna Residencial, Es La Opcion Ideal Para
          <br class="hide-mobile" />
          Quienes Buscan Vivir Con El Maximo Nivel De Confort<br
            class="hide-mobile"
          />
          y Estilo.
        </p>
        <p class="more__paragraph">
          Ubicado En La Reserva Cumbres, Sobre La Av. Santuario;
          <br class="hide-mobile" />
          Varenna Residencial Es Un Proyecto Donde Se distinguen,
          <br class="hide-mobile" />Ademas De Su Diseño Y Funcionalidad, Un
          Estilo De Vida <br class="hide-mobile" />Sin Igual.
        </p>

        <div class="flex justify:center">
          <button class="button-secondary open-form">AGENDAR VISITA</button>
        </div>
      </div>
    </div>

    <div class="more__image">
      <div style="width: 100%">
        <app-schedule-visit></app-schedule-visit>
      </div>
    </div>
  </div>
</section>
