<section class="department" id="departamento">
  <div class="department__content">
    <div class="department__top">
      <div>
        <img data-src="assets/icons/clover2.svg" alt="clover" />
      </div>

      <h2 class="department__title">
        CONOCE NUESTRO<br /><span>Departamento Alepo</span>
      </h2>

      <p class="department__paragraph1">
        Nuestro departamento <span>Alepo</span> en Varenna Residencial es una joya
        arquitectónica diseñada para aquellos que buscan un estilo de vida
        sofisticado y exclusivo en Puebla. Este espacio habitacional
        combina<span> elegancia, comodidad y funcionalidad</span>, ofreciendo un
        ambiente ideal para crear memorias inolvidables.
      </p>
    </div>

    <div class="department__alepo">
      <div class="department__alepo-content container">
        <div class="department__text">
          <div class="department__details">
            <img
              class="department__aldaba"
             data-src="assets/icons/aldaba2.svg"
              alt="clover"
            />

            <p class="department__paragraph2">
              Crea memorias únicas y vive experiencias inigualables en un
              espacio diseñado para reflejar tu estilo de vida
            </p>

            <div class="flex flex:nowrap gap:6 justify:center">
              <div class="department__icon">
                <img data-src="assets/icons/plano.png" alt="plano" />
                <span>75m <sup>2</sup> habitables</span>
              </div>

              <div class="department__icon">
                <img
                  data-src="assets/icons/construccion.png"
                  alt="construccion"
                />
                <span>80m <sup>2</sup> construcción</span>
              </div>
            </div>

            <div class="flex justify:center m:width-18 d:width-20">
                <div class="department__list">
                  <ul class="department__column">
                    <div class="department__icons">
                      <img data-src="assets/icons/check.svg" alt="check" />
                      <li>Sala-comedor</li>
                    </div>
                    <div class="department__icons">
                      <img data-src="assets/icons/check.svg" alt="check" />
                      <li>Balcón</li>
                    </div>
                    <div class="department__icons">
                      <img data-src="assets/icons/check.svg" alt="check" />
                      <li>Cocina</li>
                    </div>
                    <div class="department__icons">
                      <img data-src="assets/icons/check.svg" alt="check" />
                      <li>Área de lavado</li>
                    </div>
                  </ul>
                  <ul class="department__column">
                    <div class="department__icons">
                      <img data-src="assets/icons/check.svg" alt="check" />
                      <li>Flex / estudio</li>
                    </div>
                    <div class="department__icons">
                      <img data-src="assets/icons/check.svg" alt="check" />
                      <li>
                        Recámara principal <br />
                        (con baño y vestidor)
                      </li>
                    </div>
                  </ul>
                </div>
            </div>

            <p class="department__title-link">
              Haz click<span> y</span> conoce <span>tu NUEVO hogar</span>
            </p>

            <div class="department__links">
              <a
                href="https://urldefense.com/v3/__https://api2.enscape3d.com/v3/view/link/15ef480b-c43d-41c1-b6a9-c63a431f905f/0d82fa43-2e2b-4334-829e-87fbaf2a3b14__;!!HbFy4hIJirAKbg!S3MRv5nGBqYhAK2BK0NRIongZBUK9ShzOzlgdEgMbesgUT1a-IwYUTqYmrb8rVn8GQR-C5T_AMxZJKdtHCN8Rw$"
                target="_blank"
              >
                <img data-src="assets/icons/explorer.svg" alt="explorer" />
                Ver estudio
              </a>
              <a
                href="https://urldefense.com/v3/__https://api2.enscape3d.com/v3/view/link/98376f54-96ca-4b1c-bc1e-7d96709d9ff0/d8f3891a-eda7-4dd1-89cd-c15df4a24976__;!!HbFy4hIJirAKbg!S3MRv5nGBqYhAK2BK0NRIongZBUK9ShzOzlgdEgMbesgUT1a-IwYUTqYmrb8rVn8GQR-C5T_AMxZJKfrW-kRNg$"
                target="_blank"
                ><img data-src="assets/icons/explorer.svg" alt="explorer" />Ver
                cocina</a
              >
              <a
                href="https://urldefense.com/v3/__https://api2.enscape3d.com/v3/view/link/6d00b42b-d505-447b-8fec-a36fcaf71ab9/be205c6b-f932-40a0-a034-d9c37b9dea50__;!!HbFy4hIJirAKbg!S3MRv5nGBqYhAK2BK0NRIongZBUK9ShzOzlgdEgMbesgUT1a-IwYUTqYmrb8rVn8GQR-C5T_AMxZJKeUE8l9dg$"
                target="_blank"
                ><img data-src="assets/icons/explorer.svg" alt="explorer" />Ver
                recámara</a
              >
              <a
                href="https://urldefense.com/v3/__https://api2.enscape3d.com/v3/view/link/c2f2338e-3bfc-42d6-83eb-9544373c9901/6b890fb4-69b0-4320-ba1d-0d9f9868982d__;!!HbFy4hIJirAKbg!S3MRv5nGBqYhAK2BK0NRIongZBUK9ShzOzlgdEgMbesgUT1a-IwYUTqYmrb8rVn8GQR-C5T_AMxZJKeRIid3Qg$"
                target="_blank"
                ><img data-src="assets/icons/explorer.svg" alt="explorer" />Ver
                sala-comedor</a
              >
              <a
                href="https://urldefense.com/v3/__https://api2.enscape3d.com/v3/view/link/bafecfb1-3bdd-4b94-9716-22d60ad8a05c/b5b167d8-92fe-4af0-9ad6-4e7729460afc__;!!HbFy4hIJirAKbg!S3MRv5nGBqYhAK2BK0NRIongZBUK9ShzOzlgdEgMbesgUT1a-IwYUTqYmrb8rVn8GQR-C5T_AMxZJKdsVyyGQA$"
                target="_blank"
                ><img data-src="assets/icons/explorer.svg" alt="explorer" />Ver
                balcón</a
              >
            </div>
          </div>
        </div>

        <div class="department__image">
          <img data-src="assets/images/alepo.webp" alt="alepo" />
          <div class="department__leyenda pv:0:5">
            <p class="pv:0:5">
              *Imagen con fin ilustrativo, puede variar sin previo aviso.
              Consulta términos y condiciones en ruba.mx/tyc.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
